// THIS IS THE START
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    // background-image: url(../images/lantern_bg.png);
    // background-size: contain;
    // background-repeat: repeat;
    // background-position: center center;
}

// .container {
//     max-width: 1140px;
//     margin: 0 auto;
//     padding: 0 1.5rem 0 1.5rem;
// }

// Core block styles
.is-style-max-width-1200 {
    max-width: 1140px;
    margin: 0 auto 1rem auto;
    padding: 0 1.5rem 0 1.5rem;  
}

.is-style-max-width-650 {
    max-width: 650px;
    margin: 0 auto 1rem auto;
    padding: 0 1.5rem 0 1.5rem;  
}

.is-style-1200-yellow {
    background-image: url('../images/circle_two_graphic.svg');
    background-repeat: no-repeat;
}

// Give Embed Form Styles

.give-embed-form {
    max-width: 650px !important;
    background-color: red !important;
}

.container-main {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4rem 0 4rem 0;
}