// THIS IS THE START
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;  
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
}

// Core block styles
.is-style-max-width-1200 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;   
}