// THIS IS THE START
html {
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;  
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
}