
.contact-one {
    position: relative;
    overflow: hidden;

    .graphic {
        position: absolute;
        right: -10px;
        width: 150px;
        z-index: -100;
        overflow: hidden;
    }

    .contact-grid {
        display: grid;  
        grid-template-columns: 1fr;

        @media(min-width: 600px) {
            grid-template-columns: 1fr 1fr;
        }
    }

}

.contact-col-two {
    position: relative;
    overflow: hidden;

    .graphic-one {
        position: absolute;
        right: 30px;
        width: 100px;
        z-index: -100;
    }

    .graphic-two {
        position: absolute;
        left: -20px;
        width: 100px;
        z-index: -100;
    }

    .graphic-three {
        position: absolute;
        right: -42px;
        bottom: 0;
        width: 75px;
        z-index: -100;
    }

    .contact-col-grid {
        display: grid;  
        grid-template-columns: 1fr;

        @media(min-width: 600px) {
            grid-template-columns: 1fr 1fr;
        }
    }

}

.contact-col-three {
    position: relative;
    overflow: hidden;
  
    .graphic-one {
        position: absolute;
        left: -30px;
        bottom: 50px;
        width: 100px;
        z-index: -100;
    }

    .graphic-two {
        position: absolute;
        right: -40px;
        width: 140px;
        bottom: 0;
        z-index: -100;
    }

}

.contact-col-four {
    position: relative;
    overflow: hidden;
    margin-bottom: 5rem;

    .graphic {
        position: absolute;
        left: -50px;
        bottom: 40px;
        width: 100px;
        z-index: -100;
    }

    .contact-col-grid {
        display: grid;  
        grid-template-columns: 1fr;

        @media(min-width: 600px) {
            grid-template-columns: 1fr 1fr;
        }
    }

}

