.site-footer {
    background-color: $light-blue;
    color: $white;
    padding: 4rem 0 4rem 0;

    .social-media {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        .fa-stack {
            color: $white;
        }
    }

    .site-info {
        // max-width: 1140px;
        // margin: 0 auto;
        // padding: 5rem 1.5rem 2rem 1.5rem;
        // display: grid;
        // grid-template-columns: 1fr;

        // @media (min-width: 992px) {
        //     grid-template-columns: 1fr 1fr 1fr 2fr;
        // }

        .widget {
            padding-bottom: 2rem;

            @media(min-width: 768px) {
                padding-bottom: 0;
            }
        }

        .last-column {
            display: grid;
            // grid-gap: 2rem;
            grid-template-columns: 1fr;

            @media (min-width: 1200px) {
                grid-template-columns: 1fr 2fr;
            }

            h2 {
                color: $white;
                line-height: 1.2;
                margin-bottom: .5rem;
            }
        }
    }

    .widget_nav_menu {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            
            li {
                padding-bottom: .5rem;

                a {
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
}

.site-info {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 800px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }

}