.home-hero {
    margin-top: 6rem;

    .home-hero-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "image" "text";

        @media (min-width: 992px) {
            display: grid;
            grid-gap: 5rem;
            grid-template-areas: "text image";
            grid-template-columns: 1fr 1fr;
        }

        .text {
            grid-area: text;
        }

        .image {
            grid-area: image;
        }

        .col:last-child {
            img {
                position: relative;
                top: -10%;
            }
        }

        h1 {
            color: $light-blue;
            line-height: 1.3;
            font-size: 1.6875rem;
        }

        p {
            font-size: 1.25rem;
            color: $grey;
        }
    }
}

.new-releases {

    .section-title {
        max-width: 250px;
        margin: 4rem auto 4.5rem auto;
    }

    h2 {
        font-size: 1.875rem;
        color: $grey;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 8px solid $light-blue;
    }

    .new-release-grid {
        display: grid;
        grid-template-columns: 1fr;

        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }

        a {
            text-decoration: none;
        }

        .book-wrap {
            margin: 0 auto;
            text-align: center;

            @media(min-width: 992px) {
                max-width: 266px;
            }
        }

        .book-title {
            font-size: 1.625rem;
            text-decoration: none;
            color: $dark-blue;
            font-weight: bold;
            text-align: center;
            line-height: 1.19;
        }
    }
}

.news-featured {

    .section-title {
        max-width: 452px;
        margin: 6rem auto 0 auto;

        h2 {
            font-size: 1.875rem;
            color: $grey;
            text-transform: uppercase;
            text-align: center;
            border-bottom: 8px solid $light-blue;
        }
    }
}

.featured-item {
    display: grid;
    grid-template-columns: 1fr 2fr;

    .col:last-child {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    
    .circle-wrap {
        position: relative;
        background-color: $light-blue;
        width: 325px;
        height: 325px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;

        .design-element {
            position: absolute;
            top: -7%;
            left: -22%;
        }

        .content {
            max-width: 80%;

            .title {
                font-family: 'Montserrat', sans-serif;
                color: $lantern-yellow;
                text-transform: uppercase;
                font-size: 1.5625rem;
                font-weight: 700;
                margin: 0;
            }
        
            .date {
                font-size: 1.5625rem;
                color: $white;
                font-weight: 600;
                margin: 0;
            }

        }
    }
}