.home-hero {
    margin-top: 4rem;

    .home-hero-grid {

        @media (min-width: 992px) {
            display: grid;
            grid-gap: 5rem;
            grid-template-columns: 1fr 1fr;
        }

        h1 {
            color: $light-blue;
            line-height: 1.3;
            font-size: 1.875rem;
        }

        p {
            font-size: 1.3125rem;
            color: $grey;
        }
    }
}

.new-releases {

    .section-title {
        max-width: 250px;
        margin: 0 auto;
    }

    h2 {
        font-size: 1.875rem;
        color: $grey;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 8px solid $light-blue;
    }

    .new-release-grid {
        display: grid;
        grid-template-columns: 1fr;

        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }

        a {
            text-decoration: none;
        }

        .book-wrap {
            margin: 0 auto;
            text-align: center;

            @media(min-width: 992px) {
                max-width: 266px;
            }
        }

        .book-title {
            font-size: 1.625rem;
            text-decoration: none;
            color: $dark-blue;
            font-weight: bold;
            text-align: center;
            line-height: 1.19;
        }
    }
}