.lantern-single-product {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

.woocommerce {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
}