@import '../../../scss/vars';

.news-featured {

    .section-title {
        max-width: 452px;
        margin: 6rem auto 0 auto;

        h2 {
            font-size: 1.875rem;
            color: $grey;
            text-transform: uppercase;
            text-align: center;
            border-bottom: 8px solid $light-blue;
        }
    }

    .circle-wrap {
        position: relative;
        background-color: $light-blue;
        width: 325px;
        height: 325px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
        margin: 3rem auto 3rem auto;

        @media (min-width: 992px) {
            margin: initial;
        }

        .design-element {
            position: absolute;
            top: -7%;
            left: -22%;
        }

        .content {
            max-width: 80%;

            .title {
                font-family: 'Montserrat', sans-serif;
                color: $lantern-yellow;
                text-transform: uppercase;
                font-size: 1.5625rem;
                font-weight: 700;
                margin: 0;
            }
        
            .date {
                font-size: 1.5625rem;
                color: $white;
                font-weight: 600;
                margin: 0;
            }

        }
    }
}

.featured-item {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 4rem;

    @media (min-width: 992px) {
        grid-template-columns: 1fr 2fr;
    }

    p {
        max-width: 75ch;
    }

    .col:last-child {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .featured-link {
        color: #1A345A;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: row;

        img {
            padding-right: 1rem;
        }
    }
    
    .circle-wrap {
        position: relative;
        background-color: $light-blue;
        width: 325px;
        height: 325px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
        margin: 3rem auto 3rem auto;

        @media (min-width: 992px) {
            margin: initial;
        }

        .design-element {
            position: absolute;
            top: -7%;
            left: -22%;
        }

        .content {
            max-width: 80%;

            .title {
                font-family: 'Montserrat', sans-serif;
                color: $lantern-yellow;
                text-transform: uppercase;
                font-size: 1.5625rem;
                font-weight: 700;
                margin: 0;
            }
        
            .date {
                font-size: 1.5625rem;
                color: $white;
                font-weight: 600;
                margin: 0;
            }

        }
    }
}

.featured-grid {
    margin-top: 4rem;

    // @media(min-width: 992px) {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr 1fr;
    //     grid-gap: 5rem;
    // }

    .news-wrap {

        .title {
            font-size: 1.125rem;
            color: $light-blue;
            text-transform: uppercase;
            line-height: 1.29;
        }
    
        p {
            color: $black;
        }
    }

}