#three_profiles {
    position: relative;
}

#three_profiles .design {
    position: absolute;
    left: -55px;
    top: -110px;
    z-index: -100;
}

.board-grid .profile {
    text-align: center;
}

.board-grid .photo {
    max-width: 275px;
    margin: 0 auto;
    display: block;
}

.board-grid .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    margin: 2.5rem 0 .5rem 0;
}

.board-grid .title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1;
    margin: 0 0 1.5rem 0;
}
        
.board-grid .bio {
    font-size: 1rem;
    max-width: 40ch;
    margin: 0 auto 2rem auto;
}

@media (min-width: 992px) {

    .board-grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }

}